.bigBox{
    height:100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    background: url('/images/liveChatBkgrd.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#content{
    width: 60%; 
    height: 60vh;
    border: solid 1px #999; 
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.7);
    color:lightskyblue;
}




.authors{
    color: rgb(191,139,255);
    font-size:20px;
}

.messages{
    margin-left:2vh;
    padding:0 3vh 0 3vh;
    border:solid white 1px;
}


#name{
    width: 30vh;
}
#field{
    width: 70vh;
}

